{% for pokemon in pokemons %}
    <div class="col-12 col-md-6 col-lg-2">
        <div class="card m-2">
            <img src="{{ pokemon.imagePrincipale }}" class="card-img-top w-50 d-block mx-auto" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ pokemon.nom }}</h5>
                <p class="card-text truncate-2-lines">{{ pokemon.description }}</p>
                <a href="{{ path('app_pokedex_show', { name: pokemon.nom }) }}" class="btn btn-primary">Voir tout</a>
            </div>
        </div>
    </div>
{% endfor %}