.custom-btn {
    background-color: rgba(200, 190, 210, 0.8);
    border: none;
    border-radius: 25px;
    padding: 20px 40px;
    font-size: 1.2rem;
    color: white;
    transition: 0.3s;
}

.custom-btn:hover {
    background-color: rgba(180, 170, 190, 1);
}

.truncate-2-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Nombre de lignes max */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.img-fixe {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.w-types{
    height: 50px;
    width: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
