{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <h1 class="fw-bold text-black m-5 justify-content-center align-items-center text-center">Bienvenue</h1>
        <!--Pokédex start-->
        <div class="row justify-content-start mb-4">
            <h2>Pokédex</h2>
            {% include 'include/_pokedex.html.twig' with { pokemons: pokemons } %}
        </div>
        <div class="row justify-content-start mb-4">
            <h2>Dresseurs</h2>
            {% include 'include/_dresseur.html.twig' with { dresseurs: dresseurs } %}
        </div>
        <div class="row justify-content-start mb-4">
            <h2>Arènes</h2>
            {% include 'include/_arene.html.twig' with { arenes: arenes } %}
        </div>
    </div>
{% endblock %}